<!DOCTYPE html>
<html lang="en" ng-app="financeApp">
<head>
    <meta charset="UTF-8">
    <title>Finance app</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/angular.js"></script>
    <script src="js/app.js" ></script>
    <script src="js/controller.js"></script>
</head>
<body ng-controller="financeController as vm">

<div class="container">



<div class="page-header">
    <h1>Npv Calculation</h1>
</div>




    <div class="form-group">
        <label for="rate">Rate</label>
        <input id="rate" type="number" class="form-control" ng-model="vm.rate"/>
    </div>

    <div class="form-group">
        <label for="period">Periods</label>
        <input id="period" type="number" class="form-control" ng-model="vm.periods" ng-change="vm.periodInputHandler()"/>
    </div>


    <div class="form-group" ng-repeat="cashFlow in vm.cashFlows track by $index">
        <label for="{{'cashFlow' + $index}}">Cash flow period {{$index}}</label>
        <input id="{{'cashFlow' + $index}}" type="number" class="form-control" ng-model="vm.cashFlows[$index]"/>
    </div>

    <div class="form-group">
        <label for="npv">NPV</label>
        <h5 class="bg-success" id="npv" ng-if="vm.showNpv">{{vm.npv}}</h5>
    </div>

    <button type="button" class="btn btn-success" ng-click="vm.calculateNpv()">NPV</button>
    <button type="button" class="btn btn-default" ng-click="vm.clearNpv()">Clear</button>


</div>

</body>
</html>